// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto:wght@100;400;700&display=swap');

$font1: 'Roboto', sans-serif;
$font2: 'Open Sans Condensed', sans-serif;


// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Colors

$orca: #001D30;
$purple: #8B3CE6;
$lightPurple: #9d50f5;